@import "../../components/header/header";
#note{
  margin-top:90rpx;
  background:#fff;
  padding:0 30rpx;
  .title{
    font-size:50rpx;
    font-weight: bolder;
    padding:40rpx 0;
    line-height: 70rpx;
    color:#6b5f3d;
  }
  .userInfo{
    margin-bottom:20rpx;
    .info{
      line-height:60rpx;
      overflow: hidden;
      image{
        width:60rpx;
        height:60rpx;
        border-radius: 50%;
        float:left;
      }
      span{
        display:inline-block;
        font-size:32rpx;
        vertical-align: middle;
        float:left;
      }
      span.name{
        margin: 0 8rpx;
        font-weight: 600;
        color:#6b5f3d;
      }
      span.label{
        font-size:24rpx;
        border:1rpx solid #6b5f3d;
        border-radius:6rpx;
        height:30rpx;
        line-height:28rpx;
        margin-top:16rpx;
        color:#6b5f3d;

      }
    }
    .mate{
      .time{
        color:#999;
        font-size:26rpx;
        height:60rpx;
        line-height: 60rpx;
        vertical-align: middle;
        icon{
          display: inline-block;
          margin-left:20rpx;
        }
      }
    }
  }
  .content{
    .content-free{
      font-size:32rpx;
      color:#333;
      line-height: 58rpx;
      margin-bottom:100rpx;
    }
  }
}
.footer{
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height:100rpx;
  background:#6b5f3d;
  &.isipx{
    height:130rpx;
  }
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100rpx;
    background:#6b5f3d;
    color:#fff;
    border:none;
    list-style: none;
    outline: none;
    border-radius: 0;
    padding:0;
    margin:0;
    &:after{
      border:none;
    }
  }
}