.container{
  position:relative;
  .right,.left{
    position:absolute;
    top:0;
    height:auto;
  }
  .left{
    left:0;
    border-right:1rpx solid #999;
    width:20%;
    .li{
      height:100rpx;
      line-height: 100rpx;
      border-bottom:1rpx solid #999;
      text-align: center;
      background:#999;
      &.cur{
        background:#fff;
      }
    }
  }
  .right{
    left:20%;
    padding-left:40rpx;
    .title{
      font-size: 50rpx;
      font-weight: bold;
    }
    .text{
      height:300rpx;
      text-align: center;
    }
  }
}